astroid==2.1.0
bcrypt==3.1.6
beautifulsoup4==4.7.1
blinker==1.4
boto3==1.9.107
botocore==1.12.107
branca==0.3.1
cairocffi==1.0.2
CairoSVG==2.3.0
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
Click==7.0
colorama==0.4.1
cssselect2==0.2.1
defusedxml==0.5.0
dj-database-url==0.5.0
Django==2.1.5
django-crispy-forms==1.7.2
django-heroku==0.3.1
django-storages==1.7.1
docutils==0.14
Flask==1.0.2
Flask-Bcrypt==0.7.1
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-SQLAlchemy==2.3.2
Flask-WeasyPrint==0.5
Flask-WTF==0.14.2
folium==0.7.0
gunicorn==19.9.0
html5lib==1.0.1
idna==2.8
isort==4.3.4
itsdangerous==1.1.0
Jinja2==2.10
jmespath==0.9.4
lazy-object-proxy==1.3.1
lxml==4.3.1
MarkupSafe==1.1.0
mccabe==0.6.1
numpy==1.16.0
oauthlib==3.0.1
pandas==0.24.0
pdfkit==0.6.1
Pillow==5.4.1
pipenv==2018.11.26
psycopg2==2.7.7
pycparser==2.19
pylint==2.2.2
Pyphen==0.9.5
PySocks==1.6.8
python-dateutil==2.7.5
pytz==2018.9
requests==2.21.0
requests-oauthlib==1.2.0
s3transfer==0.2.0
six==1.12.0
soupsieve==1.7.3
SQLAlchemy==1.2.17
tinycss2==0.6.1
tweepy==3.7.0
urllib3==1.24.1
virtualenv==16.3.0
virtualenv-clone==0.5.1
WeasyPrint==45
webencodings==0.5.1
Werkzeug==0.14.1
white==0.1.2
whitenoise==4.1.2
wrapt==1.11.1
WTForms==2.2.1
