<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>BensonAD Presentation</title>

		<link rel="shortcut icon" href="/favicon.png" />

		<link rel="stylesheet" href="css/reset.css">
		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/black.css">

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="lib/css/monokai.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
				<section>
					<h2>
						Piotrkowska
					</h2>
					<p>Public Spaces Project</p>
				</section>
				<section>
					<section>
						<h3>
							Site Overview
						</h3>
						<p>First Impressions</p>
					</section>
					<section>
						<h3>
							Simple Maps
						</h3>
						<p>And analysis</p>
					</section>
					<section data-background-iframe="home.html" data-background-interactive>
						<div style="position: absolute; width: 40%; right: 0; box-shadow: 0 1px 4px rgba(0,0,0,0.5), 0 5px 25px rgba(0,0,0,0.2); background-color: rgba(0, 0, 0, 0.9); color: #fff; padding: 20px; font-size: 20px; text-align: left;">
							<h2>The Main Site</h2>
							<p>Located a couple of steps from the Piotrkowska street in Łódź. It has alot of potential for an incredible public space</p>
						</div>
					</section>
				</section>
				<section>
					<section>
							<h3>
								Site Photos
							</h3>
							<p>Some images taken during the site visits</p>
					</section>
					<section>
						<img data-src="assets/images/0 (16).jpg">
						<p>Round the corner green spaces</p>
					</section>
					<section>
						<img data-src="assets/images/0 (18).jpg">
						<p>Traffic heavy roads around the area</p>
					</section>
					<section>
						<img data-src="assets/images/0 (19).jpg">
						<p>Empty plots used as parking</p>
					</section>
					<section>
						<img data-src="assets/images/0 (25).jpg">
						<p>And in terrible Shape</p>
					</section>
					<section>
						<img data-src="assets/images/0 (29).jpg">
						<p>Local street mural (Art)</p>
					</section>
					<section>
						<img data-src="assets/images/0 (37).jpg">
						<p></p>
					</section>
					<section>
						<img data-src="assets/images/0 (45).jpg">
						<p>Pedestrian and cyclist culture(hint)</p>
					</section>
					<section>
						<img data-src="assets/images/0 (47).jpg">
						<p>Another but better corner garden</p>
					</section>
					<section>
						<img data-src="assets/images/0 (55).jpg">
						<p>Whole gardern view next to construction</p>
					</section>
					<section>
						<img data-src="assets/images/0 (67).jpg">
						<p></p>
					</section>
					<section>
						<img data-src="assets/images/0 (65).jpg">
						<p></p>
					</section>
					<section>
						<img data-src="assets/images/0 (68).jpg">
						<p>On going construction</p>
					</section>
					<section>
						<img data-src="assets/images/0 (71).jpg">
						<p>Some commercial activities around the place</p>
					</section>
					<section>
						<img data-src="assets/images/0 (73).jpg">
						<p>Site from the other angle</p>
					</section>
					<section>
						<img data-src="assets/images/0 (75).jpg">
						<p>Site from south direction</p>
					</section>
					<section>
						<img data-src="assets/images/0 (76).jpg">
						<p>SE</p>
					</section>
					<section>
						<img data-src="assets/images/0 (94).jpg">
						<p>And just a cool picture</p>
					</section>
				</section>
				<section>
					<h2>Thanks</h2>
					<p>For your Attention</p>
				</section>
			</div>
		</div>

		<script src="js/reveal.js"></script>

		<script>
			// More info about config & dependencies:
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
				dependencies: [
					{ src: 'plugin/markdown/marked.js' },
					{ src: 'plugin/markdown/markdown.js' },
					{ src: 'plugin/notes/notes.js', async: true },
					{ src: 'plugin/highlight/highlight.js', async: true }
				]
			});
		</script>
	</body>
</html>
