<!DOCTYPE html>
<html>
  <head>
    <title>Hello, WebVR! - A-Frame</title>
    <meta name="description" content="Hello, WebVR! - A-Frame">
    <script src="https://aframe.io/releases/0.7.0/aframe.min.js"></script>
  </head>
  <body>
    <a-scene>
       <a-entity
            obj-model="obj: url(https://rishavjayswal.github.io/augmented-reality/resources/couch.obj);
            mtl: url(https://rishavjayswal.github.io/augmented-reality/resources/couch.mtl)">
        </a-entity>
    </a-scene>
  </body>
</html>