<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Benson Sanga</title>


  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
  <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='logo128.png') }}" />

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


</head>

<body>

  <body>

 		<div class="section">
			<ul class="case-study-wrapper">
				<li class="case-study-name">
					<a href="https://ymcmbennie.github.io/portfolio/" class="hover-target">Portfolio</a>
				</li>
				<li class="case-study-name">
					<a href="https://matokeo00.herokuapp.com/" class="hover-target">Matokeo</a>
				</li>
				<li class="case-study-name">
					<a href="/stories" class="hover-target">Personal</a>
				</li>
				<li class="case-study-name">
					<a href="http://ccresources.herokuapp.com/home" class="hover-target">CC Resources</a>
				</li>
				<li class="case-study-name">
					<a href="htts://playground00.herokuapp.com/arcard" class="hover-target">AR Kit</a>
				</li>
			</ul>
			<ul class="case-study-images">
				<li>
					<div class="img-hero-background"></div>
					<div class="dark-over-hero"></div>
					<div class="hero-number-back">01</div>
					<div class="hero-number">01</div>
					<div class="hero-number-fixed">04</div>
					<div class="case-study-title">Architecture, Urban planning and Design </div>
				</li>
				<li>
					<div class="img-hero-background"></div>
					<div class="hero-number-back">02</div>
					<div class="hero-number">02</div>
					<div class="case-study-title">Ux Design, Motion graphics and animation</div>
				</li>
				<li>
					<div class="img-hero-background"></div>
					<div class="hero-number-back">03</div>
					<div class="hero-number">03</div>
					<div class="case-study-title">Friend, Brother and Spouse/div>
				</li>
				<li>
					<div class="img-hero-background"></div>
					<div class="hero-number-back">04</div>
					<div class="hero-number">04</div>
					<div class="case-study-title">Charity and Sustainabilty</div>
				</li>
				<li>
					<div class="img-hero-background"></div>
					<div class="hero-number-back">05</div>
					<div class="hero-number">05</div>
					<div class="case-study-title">AR and VR play</div>
				</li>
			</ul>
		</div>
		<audio src="3gg.mp3" autoplay="autoplay" loop="loop"></audio>
		<!-- Page cursor
		================================================== -->

        <div class='cursor' id="cursor"></div>
        <div class='cursor2' id="cursor2"></div>
        <div class='cursor3' id="cursor3"></div>

<!-- Link to page
	================================================== -->

  <a href="https://mailchi.mp/7609e33669ef/bensonadnewsletter"  class="link-to-portfolio hover-target" target=”_blank”></a>

</body>
  <script src='https://code.jquery.com/jquery-2.2.2.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js'></script>



    <script  src="{{ url_for('static', filename='js/index.js') }}"></script>




</body>

</html>
